/*--global--*/

html, body {
  height: 100%;
  background-color: #fafafa;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}

.yellow {
  color:#fcd20e;
}

.red {
  color:#cf0921;
}
.blue {
  color:#0035a9;
}
.white {
  color:#fff;
}
.center {
  text-align: center;
}
.carousel .slide {
  background-color: #fafafa;
}
/*--navbar--*/
.navbar-default .navbar-nav li a {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.navbar-default .navbar-nav li a:hover{
  color: #c2c2c2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.app-li {
  text-decoration: underline;
  font-size: 15px;
}
.sports-li {
  font-size: 15px;
}

.navbar-default {
  margin: 0;
  background-color: #000;
  background-image: none;
  background-repeat: no-repeat;
  border-radius: 0;
  border: none;
}
.navbar-brand {
  padding: 0;
  background-color: #000;
}
.bola-logo {
  width: auto;
  height: 50px;
  margin: 0;
  padding: 10px;
}
.navbar-default .navbar-nav .open a{
  color:#fff;
  background-color: #000;
}
.navbar-nav li .dropdown-menu{
  background-color: #000;
}

/*--scores--*/

.sands-content {
  font-family: 'Open Sans', sans-serif;
}
.scores-content h4{

}
.scores-content{
  height: auto;
  background-color: #fafafa;
  color: #000;
}
.date-container {
  background-color: black;
}
.scores-date {
  background-color: #e2e2e2;
  border: outset 1px;
}
.sands-content .carousel.carousel-slider .control-arrow {
  top: 0;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  background-color: black;
  padding: 5px;
}
.sands-btn {
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  border-radius: 0;
  color: #fff;
  background: #000;
}

/*--banner--*/
.carousel-content {
  position: relative;
  text-align: center;
  color: white;
}
.banner-header{
  position: absolute;
  top: 25%;
  left: 150px;
  font-family: 'Lato', sans-serif;
  text-align: left;
  text-shadow: 2px 2px 2px #000;
}

.banner-header h1{
  font-size: 60px;
  font-weight: 700;
}

.banner-header h2{
  font-size: 35px;
}

.banner-btn {
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  border-radius: 0;
  color: #fff;
  background: #000;
  border: 0;
}

/*--earn--*/
.earn-text {
  font-size: 18px;
}
.earn-img{
  width: auto;
  height: 250px;
}
.earn-btn{
  margin-top: 100px;
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  border-radius: 0;
  color: #fff;
  background: #000;
}
/*--vid--*/
.vid-content{
  height: auto;
}
.vid-img2{
  width:auto;
  height: 250px;
}


/*--news--*/
.news-content{
  height: 400px;
}
/*--footer--*/

.footer {
  background-color: #000;
  margin: 0;
}
.footer-logo {
  height: 50px;
  width: auto;
}
.footer-menu a{
  margin-right: 10px;
  color: white;
  text-decoration: underline;
}
/*--globalchangeable--*/

.header{
  font-family: 'Lato',  sans-serif;
  font-size: 40px;
  color: #000;
  text-shadow: 2px 2px 2px #777;
  font-weight: 700;
}
